
// Colors
$cDefault: #083451;
$cLightest: white;
$cLightGray: #abc;
$cBright: #0069B6;
$cDark: #347FBF;
$cDarker: #003352;

// Container Widths
$pageWidth: 1300px;
$contentWidth: 970px;
$breakWidth: 900px;
$mobileWidth: 436px;

