doctype html
html(lang="en")
	head
	meta(charset="UTF-8")
	title Surf & Paddle (RWD)
	link(rel="stylesheet" href="normalize.css")
	link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans")
	link(rel="stylesheet" href="main.css")
	link(rel="stylesheet" href="rwd.css")
	body
		div.container
			header
				nav
					ul.navLinks
						li: a(href="#") About
						li: a(href="#") Search
							img(src="assets/search-icon.png" alt="search")
					div.logo
						a(href="#")
							img(src="assets/logo.png" alt="logo")
						span Surf & Paddle Co. Blog
				h1 Surf & Paddle Co.
				h6 An Ironyard Academy Project Est. Fall 2013
			section.main
				article
					h2 I'm a dude with a girl's name
					div.author
						a(href="#")
							img(src="assets/avatar.png" alt="avatar")
							span.authorName Anne Marie on &nbsp;
						span.articleDate
							a(href="#") Monday Oct 7th 9:22pm
					p Zombies reversus ab inferno, nam malum cerebro. De carne animata corpora quaeritis. Summus sit​​, morbo vel maleficia? De Apocalypsi undead dictum mauris. Hi mortuis soulless creaturas, imo monstra adventus vultus comedat cerebella viventium. Qui offenderit rapto, terribilem incessu. The voodoo sacerdos suscitat mortuos comedere carnem. Search for solum oculi eorum defunctis cerebro. Nescio an Undead zombies. Sicut malus movie horror.
					p Cum horribilem resurgere de sepulcris creaturis, sicut de iride et serpens. Pestilentia, ipsa screams. &nbsp;
						a(href="#") Pestilentia
						| &nbsp; est haec ambulabat mortuos. Sicut malus voodoo. Aenean a dolor vulnerum aperire accedunt, mortui iam vivam. Qui tardius moveri, sed in magna copia sint terribiles legionis. Alii missing oculis aliorum sicut serpere crabs nostram. Putridi odores aere implent.
					blockquote: h3 "The Zombie apocalypse is here!"
					p Tremor est vivos magna. Expansis ulnis video missing carnem armis caeruleum in locis. A morbo amarus in auras. Nihil horum sagittis tincidunt, gelida portenta. The unleashed virus est, et iam mortui ambulabunt super terram. Souless mortuum oculos attonitos back zombies. An hoc incipere Clairvius Narcisse, an ante? Is bello mundi z?
					p In omni memoria patriae religionis sunt diri undead historiarum. Golums, zombies et fascinati. Maleficia! Vel a modern perhsaps morbi. A terrenti contagium. Forsitan illud Apocalypsi, vel malum poenae horrifying fecimus. Indeflexus monstra per plateas currere. Fit de nostra carne undead. Poenitentiam agite pœnitentiam!&nbsp;
						a(href="http://example.com;") Vivens mortua
						| &nbsp; sunt apud nos.
					p Ut fames cerebro enim carnis, viscera et organa viventium. Sicut spargit virus ad impetum, qui supersumus. Avium, canum, fugere ferae et infecti horrenda monstra. Videmus deformis horrenda daemonum. Panduntur portae inferi. Finis accedens sentio terrore perterritus et taedium. The horror, monstra significant finem. Terror sit unum superesse sentit, ut caro eaters caule nobis.
					ul.buttons
						li
							span.icon: img(src="assets/icon-comment.png" alt="comment")
							span.text Read Comments
						li
							span.icon: img(src="assets/icon-upload.png" alt="later")
							span.text Read Later
						li
							span.icon: img(src="assets/icon-share.png" alt="share")
							span.text Share this Post
				aside
					div.social
						img(src="assets/avatar.png" alt="avatar")
						h5.name Anne Marie
						a(href="#") Twitter
						a(href="#") Facebook
						a(href="#") Instagram
					div.ad
						img(src="assets/ad.jpg" alt="ad")
					p.adLink: a(href="#") About This Ad
					div.caption
						h4 Yummy Pies and Swagger
						p Pommy ipsum apple and pears beefeater bugger, barmy on his tod what a load of cobblers. Fried toast sorted it up North and marmite at the boozer could be a bit of a git, brainbox mince pies fish fingers and custard damn spend a penny, it's cracking flags bow ties are cool come hither gob ended up brown bread.
						//- p Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child with a blank expression on his face sitting outside on a mechanical helicopter that shakes when you put quarters in it?
			section.topPosts
				h2 Most Popular Posts
				ul
					li
						img(src="assets/article-image-1.jpg" alt="image-1")
						div.filter: h3 Surf's up dude
					li
						img(src="assets/article-image-2.jpg" alt="image-2")
						div.filter: h3 Mmm.  Beer.
					li
						img(src="assets/article-image-3.jpg" alt="image-3")
						div.filter: h3 Vegas helps me see more clearly
					li
						img(src="assets/article-image-4.jpg" alt="image-4")
						div.filter: h3 Fo'get about it
			footer
				nav
					ul
						li: a(href="#") Rad Gear
						li: a(href="#") Hot Stuff
						li: a(href="#") Keepin' it Real
						li: a(href="#") Chillin'
					div.copyright
							a(href="#")
								img(src="assets/theironyard-logo.png" alt="ironyard")
							a(href="#")
								span The Ironyard Copyright 2013
								span All Rights Reserved
