doctype html
html(lang="en")
	head
	meta(charset="UTF-8")
	title Surf & Paddle (RWD)
	link(rel="stylesheet" href="normalize.css")
	link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans")
	link(rel="stylesheet" href="main.css")
body
	div.container
		header
			nav
				ul.navLinks
					li: a(href="#") About
					li: a(href="#") Search
						img(src="assets/search-icon.png" alt="search")
				div.logo
					a(href="#")
						img(src="assets/logo.png" alt="logo")
					span Surf & Paddle Co. Blog
			h1 Surf & Paddle Co.
			h6 An Ironyard Academy Project Est. Fall 2013
		section.main
			article
				h2 I'm a dude with a girl's name
				div.author
					a(href="#")
						img(src="assets/avatar.png" alt="avatar")
						span.authorName Anne Marie on &nbsp;
					span.articleDate
						a(href="#") Monday Oct 7th 9:22pm
				p Normally, both your asses would be dead as fucking fried chicken, but you happen to pull this shit while I'm in a transitional period so I don't wanna kill you, I wanna help you. But I can't give you this case, it don't belong to me. Besides, I've already been through too much shit this morning over this case to hand it over to your dumb ass.
				p Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into a glass motherfuckin' house, fuckin' up the way the nigger talks. Motherfucker do that shit to me, he better paralyze my ass, 'cause I'll kill the motherfucker, know what <a>I'm sayin'</a>?
				blockquote: h3 "Samuel L. Ipsum is radical!"
				p Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do. That's also clear. But for some reason, you and I react the exact same way to water. We swallow it too fast, we choke. We get some in our lungs, we <a>drown</a>. However unreal it may seem, we are connected, you and I. We're on the same curve, just on opposite ends.
				p Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.
				p The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children. And I will strike down upon thee with great vengeance and furious anger those who would attempt to poison and destroy My brothers. And you will know My name is the Lord when I lay My vengeance upon thee.
				ul.buttons
					li
						span.icon: img(src="assets/icon-comment.png" alt="comment")
						span.text Read Comments
					li
						span.icon: img(src="assets/icon-upload.png" alt="later")
						span.text Read Later
					li
						span.icon: img(src="assets/icon-share.png" alt="share")
						span.text Share this Post
			aside
				div.social
					img(src="assets/avatar.png" alt="avatar")
					h5.name Anne Marie
					span: a(href="#") Twitter
					span: a(href="#") Facebook
					span: a(href="#") Instagram
				div.ad
					img(src="assets/ad.jpg" alt="ad")
				p.adLink: a(href="#") About This Ad
				div.caption
					h4 Sidebar Section Heading
					p Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child with a blank expression on his face sitting outside on a mechanical helicopter that shakes when you put quarters in it?
		section.topPosts
			h2 Most Popular Posts
			ul
				li
					img(src="assets/article-image-1.jpg" alt="image-1")
					div.filter: h3 Surf's up dude
				li
					img(src="assets/article-image-2.jpg" alt="image-2")
					div.filter: h3 Mmm.  Beer.
				li
					img(src="assets/article-image-3.jpg" alt="image-3")
					div.filter: h3 Vegas helps me see more clearly
				li
					img(src="assets/article-image-4.jpg" alt="image-4")
					div.filter: h3 Fahget about it
		footer
			nav
				div.copyright
					a(href="#")
						img(src="assets/theironyard-logo.png" alt="ironyard")
					a(href="#")
						span The Ironyard Copyright 2013, All Rights Reserved
				ul
					li: a(href="#") Rad Gear
					li: a(href="#") Hot Stuff
					li: a(href="#") Keepin' it Real
					li: a(href="#") Chillin'
