
/* Global Elements */
body {
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	color: #083451;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

h1 {
	margin: 185px 0 -15px;
	font-size: 96px;
	color: white;
}

h2 {
	margin: 0 20px 10px 0;
	font-size: 72px;
	font-weight: bold;
	line-height: 100%;
	color: #003352;
}

h3 {
	font-size: 28px;
	color: #0069B6;
}

h4 {
	margin: 40px 0 0;
	font-size: 18px;
	color: #0073BA;
}

h5 {
	margin: 10px 0;
	font-size: 18px;
	font-weight: 100;
	color: #347FBF;
}

h6 {
	margin: 0;
	font-size: 14px;
}

h1, h2, h3, h4, h5 {
	text-transform: uppercase;
}

h1, h6 {
	text-align: center
}

a {
	color: #abc;
}

blockquote {
	border-left: 2px solid #D3D3D3;
	line-height: 60px;
	padding-left: 15px;
	margin-left: 5px;
}

nav {
	width: 970px;
	margin: 30px auto;
}

.container {
	width: 1300px;
	margin: 0 auto;
}


/* Header */

header {
	height: 523px;
	margin-bottom: 50px;
	background-image: url("assets/header.jpg");
}

header nav {
	margin: 0 auto;
	padding-top: 10px;
	text-transform: uppercase;
}

header nav .logo {
	float: left;
}

header nav .logo img {
	width: 42px;
	vertical-align: middle;
}

header nav .logo span {
	height: 42px;
	margin-left: 10px;
}

header nav a {
	text-decoration: none;
}

header nav .navLinks {
	float: right;
	padding: 8px;
}

header nav .navLinks li {
	float: left;
	margin-left: 15px;
	font-size: 20px;
}

header nav .navLinks li a {
	color: #083451;
}

header nav .navLinks img {
	height: 18px;
	margin-left: 5px;
}


/* Main */

section.main {
	width: 970px;
	margin: 0 auto;
	overflow: auto;
}


/* Article */

article {
	float: left;
	width: 650px;
	padding: 0 20px 20px 0;
}

article .author {
	margin-bottom: 40px;
	font-size: 14px;
}

article .author > a {
	text-decoration: none;
	color: #347FBF;
}

article .author img {
	vertical-align: -6px;
	width: 25px;
}

article .author span {
	padding: 0 5px;
}

article .author .authorName {
	padding-left: 30px;
}

article .author .articleDate,
article .author .articleDate a {
	color: #abc;
}

article p {
	color: #7D868C;
}

article p a {
	text-decoration: underline;
}

article p a:hover {
	color: #0069B6;
	cursor: pointer;
}


/* Buttons */

ul.buttons {
	height: 30px;
}

ul.buttons li {
	float: left;
	height: 100%;
	margin-right: 10px;
	background-color: #A0B3C0;
	cursor: pointer;
}

ul.buttons li:hover {
	background-color: #0069B6;
}

ul.buttons li span.icon {
	float: left;
	width: 32px;
	height: 100%;
	background-color: #5D6970;
}

ul.buttons li:hover span.icon {
	background-color: #003353;
}

ul.buttons li span.icon img {
	padding: 8px;
}

ul.buttons li span.text {
	float: left;
	height: 100%;
	padding: 5px 15px;
	font-size: 14px;
	color: #EEF3F9;
}


/* Sidebar */

aside {
	float: right;
	width: 278px;
}

aside .social {
	text-align: center;
	margin-bottom: 50px;
	padding-top: 15px;
}

aside .social span {
	padding: 0 7px 0 3px;
	font-size: 14px;
	border-right: 1px solid #eee;
}

aside .social span:last-child {
	border-right: none;
}

aside .social span a {
	color: #abc;
	text-decoration: none;
}

aside .ad {
	text-align: center;
}

aside .ad p {
	margin-top: 0;
	text-align: right;
	font-size: 14px;
}

aside .caption p {
 color: #abc;
}


/* Top Posts */

section.topPosts {
	border-top: 1px solid lightgrey;
}

section.topPosts h2 {
	margin: 30px 0;
	text-align: center;
}

section.topPosts li {
	float: left;
	position: relative;
}

section.topPosts li .filter {
  background-color: hsla(206, 80%, 60%, 0.8);
  position: absolute;
  top:0;
  left: 0;
}

section.topPosts li,
section.topPosts li .filter {
  width:325px;
  height:330px;
}

section.topPosts li .filter:hover {
  background-color: hsla(206, 80%, 60%, 0);
	cursor: pointer;
}

section.topPosts li .filter h3 {
	position: absolute;
	left: 15px;
	bottom: 15px;
	margin: 0;
	color: #003353;
}

section.topPosts li .filter:hover h3 {
  color: white;
}

/* Footer */

footer {
	width: 100%;
	height: 100px;
	overflow: auto;
	font-size: 14px;
	background-color: #003353;
}

footer .copyright,
footer li,
footer li a {
	float: left;
	color: #A0B3C0;
}

footer .copyright a {
	color: #A3B3BF;
}

footer .copyright span {
	vertical-align: 8px;
	margin-left: 8px;
}

footer ul {
	padding-top: 8px;
	float: right;
}

footer li {
	padding: 0 5px;
	border-left: 1px solid #5C6870;
}

footer li:first-child {
	border-left: none;
}


@media (max-width: 900px) {
	h1 {
		margin: 10px 0 0;
		font-size: 36px;
	}
	h2 {
		font-size: 64px;
	}
	blockquote {
		margin-left: 0;
	}
	.container,
	header nav,
	section.main,
	article,
	aside,
	section.topPosts li,
	section.topPosts li img,
	section.topPosts li .filter {
		width: 436px;
	}
	header nav .logo span,
	article .author > a,
	ul.buttons li span.text,
	section.topPosts li:first-child {
		display: none;
	}
	header {
		background-size: 436px auto;
		background-repeat: no-repeat;
		height: 175px;
	}
	header nav .logo {
		float: none;
		text-align: center;
	}
	header nav .navLinks {
		float: none;
		margin: 0 auto;
		overflow: auto;
		width: 200px;
		padding-top: 0;
	}
	header nav .navLinks li {
		font-size: 16px;
	}
	section.main {
		overflow: initial;
	}
	article .author {
		margin-bottom: 25px;
	}
	article .author .articleDate {
		padding: 0;
	}
	section.topPosts {
		border-top: none;
	}
	section.topPosts li,
	section.topPosts li .filter {
		height: 330px;
		overflow: hidden;
	}
	/*
	The topPosts images are being cropped from the
	bottom in the mobile browser.  I considered
	cropping the images from the top or doing half &
	half, but this looks like a full-blown project
	by itself.  I'll save that for the future...
	http://css-tricks.com/crop-top/
	*/
}
